{% extends 'base.html.twig' %}

{% block body %}
    <form method="POST" action="{{ path(operation) }}">
        <input type="number" name="v1"/>
        <input type="number" name="v2"/>
        <input type="submit" value="Execute"/>
    </form>
{% endblock %}

